@CHARSET "UTF-8";

.titulo {
	font-size: 50px;
}

.sub-titulo1 {
	font-size: 25px;
	margin-left: 2px;
	margin-right: 2px;
}

.sub-titulo2 {
	font-size: 20px;
}

.quebrapagina {
	page-break-before: always;
}

.centro {
	text-align: center;
}

.logocapa {
	margin-top: -30%; /* half main elements height*/
}

.capasize {
	height: 900px;
}

.capasize_individual {
	height: 30.1%;
}

a:hover {
	text-decoration: none;
}