@CHARSET "UTF-8";

.titulo {
	font-size: 50px;
}

.sub-titulo1 {
	font-size: 25px;
	padding-top:20px;
}

.sub-titulo2 {
	font-size: 20px;
	padding-top:20px;
}

.quebrapagina {
	page-break-before: always;
}

.centro {
	text-align: center;
}

a:hover {
	text-decoration: none;
}

