@CHARSET "UTF-8";

div {
	border-color: #ffffff;
	border-style: solid;
}

#indicadores,#chamadossolicitantes,#tipochamado,#chamadoemaberto,#chamadofechado,#chamadohost,#principaltimeframe,#outrostimeframe,#principaloutrostimeframe,#worload,#principaloutrostimeframe1,#principaloutrostimeframe2
	{
	page-break-inside: avoid;
}

body {
	background-color: #ffffff;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px;
	margin-left: 10px;
	margin-right: 10px;
}

body,td,th,input,textarea,select,a {
	font-size: 12px;
}

#graficoesquerda {
	float: left;
	width: 50%;
}

#graficodireita {
	margin-left: 50%;
}

grafico-barra-esquerda {
	float: left;
	width: 80%;
}

grafico-direita-esquerda {
	margin-left: 20%;
}

#meio-esquerda {
	float: left;
	width: 50px;
}

#meio-direita img {
	height: 1120px;
	padding: 10px;
}

#meio-direita {
	margin-left: 50px;
}
