@CHARSET "UTF-8";

div {
	border-color: #bbbbbbb;
	border-width: 1px;
	border-style: solid;
}

#ladoesquerdo {
	float: left;
}

#ladodireito {
	float: left;
}

#rodape {
	clear: both;
}

.titulo {
	font-size: 50px;
}

.sub-titulo1 {
	font-size: 25px;
}

.sub-titulo2 {
	font-size: 20px;
}

.quebrapagina {
	page-break-before: always;
}


.centro {
	text-align: center;
}

.logocapa {
	margin-top:-30%;/* half main elements height*/
}

.capasize {
	height: 900px;
}

.capasize_individual {
	height: 30.1%;
}

body {
	background-color: #ffffff;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px;
	margin: 0px;
}

body,td,th,input,textarea,select,a {
	font-size: 12px;
}

a:hover {
	text-decoration: none;
}

@page :left {
	margin: 0px;
	padding: 0px;
}

@page :right {
	margin: 0px;
	padding: 0px;
}