@CHARSET "UTF-8";

div {
	border-color: #ff0000;
	border-width: 1px;
	border-style: solid;
}

#rodape {
	clear: both;
}

.titulo {
	font-size: 50px;
}

.quebrapagina {
	page-break-after: always;
}

.centro {
	text-align: center;
}

.capasize_individual {
	height: 200px;
}

body {
	background-color: #ffffff;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px;
	margin: 0px;
	font-size: 12px;
}

a:hover {
	text-decoration: none;
}

@page :left {
	margin: 0px;
	padding: 0px;
}

@page :right {
	margin: 0px;
	padding: 0px;
}