@CHARSET "UTF-8";

div {
	border-color: #ff0000;
	border-width: 1px;
	border-style: solid;
}

#ladoesquerdo {
	float: left;
}

#ladodireito {
	float: left;
}

#rodape {
	clear: both;
}

#capa {
	background-image: url("images/t0.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

#meio {
	background-image: url("images/t0.png");
	background-size: 100%;
	background-repeat: repeat-x;
}

.titulo {
	font-size: 50px;
}

.quebrapagina {
	page-break-after: always;
}

.centro {
	text-align: center;
}

.logocapa {
	
}

.capasize {
	height: 900px;
}

.capasize_individual {
	height: 30%;
}

body {
	background-color: #ffffff;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px;
}

body,td,th,input,textarea,select,a {
	font-size: 12px;
}

a:hover {
	text-decoration: none;
}

@page :left {
	margin: 0px;
}

@page :right {
	margin: 0px;
}